body{
    margin: unset;
    background-image: url(paulo_cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#letraGrande{
    font-family: 'Haettenschweiler';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 55px;
}

#letra_mediana{
    font-family: 'Haettenschweiler';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 20px;
}

#letraFooter{
    font-family: 'Haettenschweiler';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 30px;
}

.navBar{
    background-color:whitesmoke;
    width: 100%;
    height: 150px;
    position: fixed;
    align-items: center;
    display: flex;
    justify-content:flex-start;
}

.titulo_box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.titulo{
    width: 300px;
    text-align: center;
    text-decoration: none;
    color: rebeccapurple;
    margin-left: 20px;
    margin-right: 30px;
    padding: 10px;

}

.titulo:hover{
    border-radius: 40px;
    background-color: rebeccapurple;
    transition: .6s ease-in-out all;
    color: white;
}

@keyframes rotacion {
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
    
}

.navBar_buttons{
    display: flex;
    justify-content: space-around;
    width: 125vh;
    text-decoration: none;
}

.navBar_buttons_words{
    width: 250px;
    height: 74px;
    border-radius: 55px;
    background-color: rebeccapurple;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.navBar_buttons_words:hover{
    background-color: whitesmoke;
    color: rebeccapurple;
    transition: .6s ease-in-out all;
}

.logo{
    width: 140px;
    height: auto;
    animation-name: rotacion;
    animation-duration: 100s;
}

.pageGrid{
    display: grid;
    grid-template-columns: 4fr 3fr 4fr;
    grid-template-rows: 150px 4fr 0.4fr;
    height: 120vh;
    grid-template-areas: 
    "none none none"
    "aside1 article aside2"
    "footer footer footer";
}


#article_index{
    grid-area: article;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
}


.eventos_texto_1{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px;
    color: whitesmoke;
}

.eventos_texto_2{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    color: rebeccapurple;
    font-size: 80px !important;
    
}

.eventos_texto_3{
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    padding-top: 50px;
    text-align: left;
}

#aside1{
    grid-area: aside1;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lola_imagen{
    width: 500px;
    height: 700px;
}


#aside2{
    grid-area: aside2;
    background-color:  rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cosquin_imagen{
    width: 500px;
    height: 700px;
}

.footer{
    grid-area: footer;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
}

.footer_redes_texto{
    display: flex;
    align-items: center;
    padding-left: 70px;
}

div.footer_redes_texto{
    color: rebeccapurple;
}

.footer_redes_sociales{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    padding-left: 70px;
}

.footer_redes_sociales_images{
    height: 50px;
    width: auto;
}




.page_eventos_Grid{
    display: grid;
    grid-template-columns: 2.5fr 2fr 2fr;
    grid-template-rows: 150px 4fr 0.4fr;
    height: 120vh;
    grid-template-areas: 
    "none none none"
    "article_eventos product_1 product_2"
    "footer footer footer";
}


.article_eventos{
    grid-area: article_eventos;
    background-color:rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article_eventos_eventos{
    margin-top: 30px;
    color: rebeccapurple;
}

.article_eventos_texto{
    text-align: center;
    color: white;
    margin-top: 30px;
}

.article_eventos_carrito{
    margin-top: 50px;
    width: 200px;
    height: auto;
}


.product_1{
    grid-area: product_1;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}

.product_2{
    grid-area: product_2;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}


.product_products{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product_images{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgba(102, 51, 153, 0.8);
}

.botones{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.boton_mas{
    width: 150px;
    height: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
}

.boton_menos{
    width: 150px;
    height: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
}



@media (max-width:1200px){
    #letraGrande{
        font-family: 'Haettenschweiler';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
    }
    
    #letra_mediana{
        font-family: 'Haettenschweiler';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 15px;
    }
    
    #letraFooter{
        font-family: 'Haettenschweiler';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 10px;
    }
    
    .page_eventos_Grid{
        display: grid;
        grid-template-columns: 2.5fr 2fr 2fr;
        grid-template-rows: 100px 4fr 0.4fr;
        height: 120vh;
        grid-template-areas: 
        "none none none"
        "article_eventos product_1 product_2"
        "footer footer footer";
    }

    .navBar{
        background-color:whitesmoke;
        width: 100%;
        height: 100px;
        position: fixed;
        align-items: center;
        display: flex;
        justify-content:flex-start;
    }
    
    .titulo_box{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .titulo{
        width: 150px;
        text-align: center;
        text-decoration: none;
        color: rebeccapurple;
        margin-left: 20px;
        margin-right: 30px;
        padding: 10px;
    
    }
    
    .navBar_buttons{
        display: flex;
        justify-content: space-around;
        width: 125vh;
        text-decoration: none;
    }
    
    .navBar_buttons_words{
        width: 150px;
        height: 74px;
        border-radius: 55px;
        background-color: rebeccapurple;
        color: whitesmoke;
        justify-content: center;
        align-items: center;
        display: flex;
        text-decoration: none;
    }
    
    .navBar_buttons_words:hover{
        background-color: whitesmoke;
        color: rebeccapurple;
        transition: .6s ease-in-out all;
    }
    
    .logo{
        width: 80px;
        height: auto;
        animation-name: rotacion;
        animation-duration: 100s;
    }

    .article_eventos_carrito{
        margin-top: 20px;
        width: 100px;
        height: auto;
    }
    
    
    .product_1{
        grid-area: product_1;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    
    }
    
    .product_2{
        grid-area: product_2;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    
    
    .product_products{
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .product_images{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background-color: rgba(102, 51, 153, 0.8);
    }
    
    .botones{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }
    
    .boton_mas{
        width: 75px;
        height: 15px;
        color: white;
        background-color: rgba(0, 0, 0, 0.9);
    }
    
    .boton_menos{
        width: 75px;
        height: 15px;
        color: white;
        background-color: rgba(0, 0, 0, 0.9);
    }
    


}
